/* components/SearchInput/SearchInput.wxss */
.search_input{
    height: 90rpx;
    padding: 10rpx;
    background-color: var(--themeColor);
    navigator{
        // 继承外层容器的高度
        height: 100%;
        // 伸缩盒子
       display:flex;
    //    水平居中
       justify-content: center;
    //    垂直居中
       align-items: center;
       background-color: #fff;
    //    边框圆角
      border-radius: 15rpx;
    //   其中的文字颜色
      color: #666;
    }
}